*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}

:root{

    --darkBlue: hsl(240, 38%, 20%);
    --grayBlue: hsl(240, 18%, 77%);

}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--darkBlue);
 
}

header{
   padding-top: 3em;
   /* height: 100vh; */
}

img, svg{
    max-width: 100%;
    
}


.wrapper{
    position: relative;
}

/* .slaid{
    margin-bottom: 4.7em;
     height: 100vh; 
    transition:  3s ease ;
} */

.slaider, .container{
    width: 90%;
    margin: 0 auto;
    /* height: 100vh; */
    position: relative;
}

.slaid__top{
    background-image: url('images/pattern-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

}

.slaid__img{
    padding: 2.3em;
}

.slaid__img img{
    box-shadow: 0px 52px 57px -55px var(--darkBlue);
    border-radius: 5px;

}

.btns{
    margin-top: -1.5em;
    position: absolute;
    background-color: white;
    width: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: calc(50% - 40px);
        
}

.btn__left,
.btn__rigth{
    padding: .8em;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    width: 80%;
    cursor: pointer;
    outline: none;
}

.slaid__text{
    text-align: center;
    
    /* margin-top: 1em; */
}

.slaid__text > img{
    width: 20%;
}


.text__testimonial{
    margin-top: -2em;
    font-weight: 300;
    margin-bottom: 1.35em;
}

.text__testimonial--info h2{
    font-size: 1rem;
}

.text__testimonial--info p{
    color: var(--grayBlue);
}

.curve{
    display: block;
    
}

@media (min-width: 960px){

    header{
        padding: 3em;
    }

    .flex{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .slaid{
        margin-bottom: 0;
    }

    .slaid__top{
        width: 100%;
    }

    .slaid__img{
        padding: 3.3em;
    }

    .slaid__text{
        text-align: left;
        margin-left: 4em;
    }

    .slaid__text img{
        margin-left: 10em;
    }

    .text__testimonial{
        margin-right: -8em;
        margin-bottom: 2em;
    }

    .text__testimonial p{
        font-size: 2rem;
        
    }

    .text__testimonial--info{
        display: flex;
        
    }

    .text__testimonial--info h2{
        margin-right: 1em;
    }

    .btns{
        left: 20%;
    }

    .curve{
        margin-top: -8em;
    }
}















