*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}

:root{

    --darkBlue: hsl(240, 38%, 20%);
    --grayBlue: hsl(240, 18%, 77%);

}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--darkBlue);
 
}

header{
    padding: 3em 0;
}

img, svg{
    max-width: 100%;
}

.slaid{
    margin-bottom: 3em;
    height: 100vh;
}

.slaider, .container{
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}

.slaid__top{
    background-image: url('images/pattern-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;

}

.slide1 .slaid__img .img{
    background-image: url('images/image-tanya.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slaid__img{
    padding: 2.3em;
}

.slaid__img img{
    box-shadow: 0px 52px 57px -55px var(--darkBlue);
    border-radius: 5px;

}

.btns{
    margin-top: -1.5em;
    position: absolute;
    background-color: white;
    width: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: calc(50% - 40px);
    top: calc(50% + 20px);
    cursor: S;
}



.btn__left,
.btn__rigth{
    /* background-image: url(images/icon-prev.svg); */
    padding: .8em;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    width: 80%;
}

.slaid__text{
    text-align: center;
    
    /* margin-top: 1em; */
}

.slaid__text > img{
    width: 20%;
}


.text__testimonial{
    margin-top: -2em;
    font-weight: 300;
    margin-bottom: 1.35em;
}

.text__testimonial--info h2{
    font-size: 1rem;
}

.text__testimonial--info p{
    color: var(--grayBlue);
}















